{% extends "menu.html" %}
{% block content_int %}


<div class="row flex-wrap mt-5">
    <div class="col-12 card">
        <div class="card-title text-center row">
            <h5 class="text-center col-8">Состояние системы {{current_time}}</h5>
            <a class="col-4 btn button btn-dark" href="/control">Обновить</a>
        </div>
        <div class="row flex-row flex-wrap text-center">
            <div class="col">
                Загрузка процессора
            </div>
            <div class="col">
                {{ cpu_percent }}%
            </div>
            <div class="col">
                Потребление памяти
            </div>
            <div class="col">
                {{ memory[0]|round(2) }}Гб/{{ memory[1]|round(2) }}Гб
            </div>
        </div>
    </div>
    <div class="row flex-column flex-wrap text-center">
        {% for th in threads %}
        <div class="col m-1 p-2" style="background: white;border-radius: 5px;">
            <div class="card-title align-center align-content-center"><h6 class="">{{th.name}}</h6>
            <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Управление
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/lastlog/{{th.name}}">ПОСЛЕДНЕЕ</a></li>
                        <li><a class="dropdown-item" href="/view_log/{{th.name}}">ЖУРНАЛ</a></li>
                        <li><a class="dropdown-item" href="/modify/{{loop.index0}}">ИЗМЕНИТЬ</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/log/{{th.name}}">СКАЧАТЬ ЖУРНАЛ</a></li>
                        <li><a class="dropdown-item" href="/wakeup/{{loop.index0}}">РАЗБУДИТЬ</a></li>
                        <li><a class="dropdown-item" href="/pause/{{loop.index0}}">ПАУЗА</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {% if th.worked %}
                        <li><a class="dropdown-item" href="/stop_iteration/{{loop.index0}}">СТОП ИТЕРАЦИИ</a></li>
                        <li><a class="dropdown-item" href="/stop/{{loop.index0}}">ОСТАНОВИТЬ</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="/restart/{{loop.index0}}">РЕСТАРТ</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="card-body">
            <div class="row">
                <div class="col-2">ВЫПОЛНЕНО</div>
                    <div class="col-4">{{th.current_iteration}} / {{th.last}}</div>
                    <div class="col-2">Free space</div>
                    <div class="col-4">{{th.work_free_space}}</div>
            </div>
            <div class="row">
                    <div class="col-2">TEMP DIR</div>
                    <div class="col-4">{{th.config['temp_dir']}}</div>
                    <div class="col-2">WORK DIR</div>
                    <div class="col-4">{{th.config['work_dir']}}</div>
            </div>
                <div class="row">
                    <div class="col-4">ТЕКУЩАЯ ФАЗА</div>
                    <div class="col-8">{{th.phase}}</div>
                </div>
                <div class="row">
                    <div class="col-4">ВРЕМЯ ПОСЛЕДНЕГО ПЛОТА</div>
                    <div class="col-8">{{th.last_time}}</div>
                </div>
                <div class="row">
                    <div class="col-4">СТАТУС</div>
                    <div class="col-8">{{th.status}}</div>
                </div>
                <div class="row">
                    <div class="col-4"><a class="dropdown-item" href="/stop_iteration/{{loop.index0}}">СТОП ИТЕРАЦИИ</a></div>
                    <div class="col-8"><a class="dropdown-item" href="/modify/{{loop.index0}}">ИЗМЕНИТЬ КОЛИЧЕСТВО</a></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}