{% extends "base.html" %}
{% block content %}


<div class="row flex-nowrap justify-content-center align-items-center mt-5">
    <div class="col-5 card justify-content-center align-items-center ">
        <h2>Please sign in <span>"{{main_process_name}}"</span>, you can try:</h2>
        <p class="alert-danger">{{message}}</p>
        <form action="" method="POST">
            <input class="username" id="name" name="username"
                   placeholder="username" type="text" value=""><br>
            <input class="password" id="password" name="password"
                   placeholder="password" type="password" value=""><br>
            <input class="btn button btn-info" id="submit" name="submit" type="submit" value="Sign In">
        </form>
    </div>
</div>

{% endblock %}