{% extends "menu.html" %}
{% block content_int %}


<div class="row flex-nowrap justify-content-center align-items-center mt-5">
    <div class="col-12 row flex-column card justify-content-center align-items-center">
        <h2>Изменение задания {{name}}</h2>
        <h5 class="text-center">Выполнено {{current_task}} из {{count_task}}</h5>
        <form action="" method="POST" class="row justify-content-center align-items-center">
            <input type="hidden" name="new_thread" value="{{new_thread}}">
            <span class="col-3">TASK</span>
            <input type="number" class="col-8 m-1 username" id="count" name="count"
                   placeholder="plot task count" value="{{count_task}}">
            <span class="col-3">TEMP</span>
            <input type="text" class="col-8 m-1 username" id="temp_path" name="temp_path"
                   placeholder="plot task count" value="{{temp_path}}">
            <span class="col-3">WORK</span>
            <input type="text" class="col-8 m-1 username" id="work_path" name="work_path"
                   placeholder="plot task count" value="{{work_path}}">
                        <span class="col-3">Thread per plot</span>
            <input type="number" class="col-3 username" id="thread_per_plot" name="thread_per_plot"
                   placeholder="Threads per plot" value="{{thread_per_plot}}">
            <span class="col-3">Bucket</span>
            <input type="number" class="col-3 username" id="bucket" name="bucket"
                   placeholder="bucket" value="{{bucket}}">
            <span class="col-3">K-size</span>
            <input type="number" class="col-3 username" id="k_size" name="k_size"
                   placeholder="K_Size" value="{{k_size}}">
            <span class="col-3">Memory</span>
            <input type="number" class="col-3 username" id="memory" name="memory"
                   placeholder="memory" value="{{memory}}">
            <span class="col-3">Pause before start</span>
            <input type="number" class="col-3 username" id="pause_before_start" name="pause_before_start"
                   placeholder="Pause before start" value="{{pause_before_start}}">
            <span class="col-3">Деление процесса</span>
            <input type="number" class="col-3 username" id="parallel_plot" name="parallel_plot"
                   placeholder="Разделить процесс" value="{{parallel_plot}}">
                        <span class="col-3">Pool contract Address</span>
            <input type="text" class="col-8 m-1 username" id="pool_contract_address" name="pool_contract_address"
                   placeholder="fingerprint" value="{{pool_contract_address|default('', true)}}">
                        <span class="col-3">Fingerprint</span>
            <input type="text" class="col-8 m-1 username" id="fingerprint" name="fingerprint"
                   placeholder="fingerprint" value="{{fingerprint|default('', true)}}">
                        <span class="col-3">Pool public key</span>
            <input type="text" class="col-8 m-1 username" id="pool_pub_key" name="pool_pub_key"
                   placeholder="Pool public key" value="{{pool_pub_key|default('', true)}}">
            <span class="col-3">Farmer public key</span>
            <input type="text" class="col-8 m-1 username" id="farmer_pub_key" name="farmer_pub_key"
                   placeholder="Farmer public key" value="{{farmer_pub_key|default('', true)}}">
            <input type="checkbox" class="col-1 username" id="bitfield_disable" name="bitfield_disable"
                   {% if bitfield_disable %}
                   checked
                   {% endif %}
                   >
            <span class="col-3">Bitfield Disable</span>
            <input type="checkbox" class="col-1 username" id="start_shell" name="start_shell"
                   {% if start_shell %}
                   checked
                   {% endif %}
                   >
            <span class="col-3">Start in shell</span>
            <input type="checkbox" class="col-1 username" id="p_open_shell" name="p_open_shell"
                   {% if start_shell %}
                   checked
                   {% endif %}
                   >
            <span class="col-3">Surround cmd in shell</span>
            <span class="col-3">CodePage chia output</span>
            <input type="text" class="col-8 m-1 username" id="code_page" name="code_page"
                placeholder="CodePage chia output" value="{{code_page|default('cp866', true)}}">
            <span class="col-3">Shell Name</span>

            <input type="text" class="col-8 m-1 username" id="shell_name" name="shell_name"
                   placeholder="Shell Name" value="{{shell_name|default('powershell', true)}}">

            <input class="col-4 m-3 btn button btn-info" id="submit" name="submit" type="submit" value="Save">
            <a class="col-4 m-3 btn button btn-info" href="/control">ВЫХОД</a>
        </form>
    </div>
</div>

{% endblock %}