{% extends "menu.html" %}
{% block content_int %}


<div class="row flex-wrap mt-5">
    <div class="col-12 card">
        <div class="card-title text-center row">
            <h5 class="text-center col-8">Производительность</h5>
            <a class="col-4 btn button btn-dark" href="/perf">Обновить</a>
            <a class="col-4 btn button btn-dark" href="/refresh_perf">ПОЛУЧИТЬ</a>
        </div>
        <div class="card-text">
            <div class="row text-center">
                <div class="col">
                    Среднее значение загрузки
                </div>
                <div class="col">
                    {{ perf['load_avg'][0] }}% за 1 мин
                </div>
                <div class="col">
                    {{ perf['load_avg'][1] }}% за 5 мин
                </div>
                <div class="col">
                    {{ perf['load_avg'][2] }}% за 15 мин
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    Время работы в режиме
                </div>
                <div class="col">
                    {{ perf['cpu'].user }} пользователь
                </div>
                <div class="col">
                    {{ perf['cpu'].system }} система
                </div>
                <div class="col">
                    {{ perf['cpu'].idle }} простой
                </div>
                <div class="col">
                    {{ perf['cpu'].interrupt }} прерывания
                </div>
            </div>
            <div class="row flex-row flex-wrap mt-5 align-content-center justify-content-center">
                {% for di in disk_info['disks'] %}
                <div class="col-sm-6 col-lg-2 card m-1">
                    <div class="card-title">
                        {{di[0]}} - {{di[3]}}%
                    </div>
                    <div class="row card-body p-0 m-0">
                        <div class="col">Free:</div>
                        <div class="col">{{di[1]}}</div>
                        <div class="col">из {{di[2]}}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

{% endblock %}