{% extends "menu.html" %}
{% block content_int %}


<div class="row flex-wrap mt-5">
    <div class="col-12 card">
        <div class="card-title text-center row">
            <h5 class="text-center col-8">Состояние системы</h5>
            <a class="col-4 btn button btn-dark" href="/stat">Обновить</a>
        </div>
    </div>
    {% for th in threads %}
    <div class="card m-1">
        <div class="card-title align-center align-content-center"><h6 class="">{{th.name}}</h6></div>
        <div class="card-body">
            <div class="row flex-wrap">
                {% for key,val in th.phase_stat.items() %}
                <div class="col-6 card">
                    <div class="card-title">{{key}}</div>
                    <div class="card-body">
                    {% for k,v in val.items() %}
                    <div class="row">
                    <div class="col-6">{{k}}</div>
                    <div class="col-6">{{v}}</div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}